@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dati personali";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Il tuo account in questa applicazione contiene dei dati personali questa pagina ti consente di scaricarli e di richiedere la cancellazione.</p>
        <p>
            <strong>La cancellazione dei dati sarà definitiva e rimuoverà il tuo account dalla applicazione.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Scarica i tuoi dati</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Cancella i tuoi dati</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
