@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Utente non autorizzato";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Non sei autorizzato ad accedere a questa risorsa o il tuo profilo non è corretto.</p>
</header>
